/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.w-50 {
    width: 50%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.float-left {
    float: left;
}

.list-inline {
    list-style: none;
}
.list-inline > li {
    display: inline-block;
    padding: 0 10px;
    text-decoration: none;
}
.list-inline a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
}

.list-inline a:not(.btn):hover {
    color: #7cbb02;
}

/* bottoni */
.btn {
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 20px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-blue {
    background-color: #0c325a;
    border: 1px solid white;
}
.btn-blue:hover {
    background-color: lightslategray;
    
    color: #7cbb02;
}
.btn-green {
    background-color: #7cbb02;
    border: 1px solid #7cbb02;
}
.btn-green:hover {
    background-color: lightslategray;
    border: 1px solid #7cbb02;
    color: #7cbb02;
}

header {
    height: 550px;
    background-color: #0c325a;
    background-image: url(../img/background-header.png);
    background-position: 112% 163%;
    background-size: 60% auto;
    background-repeat: no-repeat;
}

.header-nav {
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
}
.header-logo {
    width: 10%;
    height: 100%;
}

.header-logo img {
    vertical-align: middle;
    padding-bottom: 12px;
}

.nav-left {
    width: 40%;
    height: 100%;
    text-align: left;
}

.nav-right {
    width: 40%;
    height: 100%;
    text-align: right;
}

.float-right {
    float: right;
}
