/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.w-50 {
    width: 50%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}

h1 {
    color: white;
    font-size: 55px;
    font-weight: 550;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

h2 {
    color: black;
    font-size: 36px;
    padding-bottom: 15px;
}

h3 {
    font-size: 30px;
    color:#7cbb02;
}

h4 {
    color: black;
    font-size: 26px;
}

hr {
    margin: 2% 0;
    border: 1px solid lightgrey;
}

.hr_box {
    width: 85px;
    margin: 5% auto;
    border: 1px solid lightgrey;
}

/* HEADER */
.list-inline {
    list-style: none;
}
.list-inline > li {
    display: inline-block;
    padding: 0 10px;
    text-decoration: none;
}
.list-inline a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
}

.list-inline a:not(.btn):hover {
    color: #7cbb02;
}

/* bottoni */
.btn {
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 20px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
}
.btn-blue {
    background-color: #0c325a;
    border: 1px solid white;
}
.btn-blue:hover {
    background-color: lightslategray;
    
    color: #7cbb02;
}
.btn-green {
    background-color: #7cbb02;
    border: 1px solid #7cbb02;
}
.btn-green:hover {
    background-color: lightslategray;
    border: 1px solid #7cbb02;
    color: #7cbb02;
}
.btn-large {
    padding: 20px;
    font-size: 14px;
}
/* /bottoni */

header {
    height: 550px;
    background-color: #0c325a;
    background-image: url(../img/background-header.png);
    background-position: 112% 163%;
    background-size: 60% auto;
    background-repeat: no-repeat;
}

.header-nav {
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
}
.header-logo {
    width: 10%;
    height: 100%;
}

.header-logo img {
    vertical-align: middle;
    padding-bottom: 12px;
}

.nav-left {
    width: 40%;
    height: 100%;
    text-align: left;
}

.nav-right {
    width: 40%;
    height: 100%;
    text-align: right;
}

.jumbotron {
    position:relative;
    height: 470px;
}

.jumbotron-text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%)
}
/* /HEADER */

/* BANNER INTRO */
.grey-banner {
    padding: 30px 0;
    background-color: lightgrey;
}
.grey-banner > .text {
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
}
.description-text {
    font-size: 20px;
    color: grey;
}
/* /BANNER INTRO */

/* SEZIONE SUPERIORE */
.upper-section {
    height: 50%;
}

.upper-section > .box{
    position: relative;
    height: 100%;
    width: 30%;
    text-align: center;
    vertical-align: middle;
}
.upper-section > .box.float-left {
    margin-right: 5%;
}

.icon {
    display: block;
    height: 200px;
    width: auto;
    margin: 6% auto;
}
/* /SEZIONE SUPERIORE */

/* SEZIONE INFERIORE */
.lower-section {
    height: 50%;

}
.lower-section > .box {
    position: relative;
    height: 100%;
    width: 48%;
    text-align: center;
    vertical-align: middle;
}

#img-sx {
    width: 100%;
    padding: 6% 10%;
}

.lower-section > .box.float-right {
    padding: 3% 9% 13% 5%;
    text-align: left;
}
/* /SEZIONE INFERIORE */

/* FOOTER */
.boxe.float-right {
    width: 50%;
    text-align: right;
}

#piano_link {
    text-decoration: none;
    color: black;
    font-size: 36px;
    vertical-align: middle;
}
#piano_link:hover{
    color: #7cbb02;
}

#select {
    position: relative;
    display: inline-block;
    padding: 0 50px 0px 0;
    border-bottom: 1px solid lightslategray;
    line-height: 25px;
    margin: 0 30px 0 30px;
}
#select:hover {
    color: #7cbb02;
}

footer {
    line-height: 80px;
}

#arrow {
    position: absolute;
    right: 0;
    color: grey;
}

#linguetta {
    width: 21%;
    display: inline-block;
    position: relative;
    position: fixed;
    right: 0;
    bottom: -3px;

}

#help_text {
    color: white;
    text-decoration: none;
}
/* /FOOTER */